
p {
    font-family: Arial, Helvetica, sans-serif;
    color: #51ca00;
    font-size: 1.1rem;
    line-height: 1.6;
}
#encabezado{
    margin: auto;
    background-color: #a4f0cc;
    min-height: 200px;
    height: auto;
    width: 50%;
    margin: auto;
    padding: 20px;
    border-radius: 19px;
    box-shadow: 12px 10px rgb(97, 153, 99);
}

#encabezado .encabezado1{
    color: rgb(119, 119, 73);
}
#encabezado .encabezado2{
    color: #dea4f0;
}
#encabezado .encabezado3{
    color: #555;
}
