body{
    background-color: #f0f7f6;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    color: #50703b;
    font-size: 1.1rem;
    line-height: 1.6;
}
#encabezado{
    margin:0 auto;
    background-color: #e0d2f7;
    height: 60px;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;

}
#logo{
    width:10% ;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu{
    width:80% ;
    height: 100%;
    background-color: rgb(141, 171, 196, 12%);
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu ul{
    list-style: none;
    margin: 0%;
    padding: 0%;
    background-color: #e2d2f7;
    border-radius: 12px;
}
#menu ul li{
    float: left;
     font-family: cursive;
}
#menu ul li a{
    display: block;
    color: rgb(133, 45, 160);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    border-radius: 12px;
}
#menu ul li a:hover{
    color: rgb(255, 237, 249);
    background-color: rgb(188, 136, 201);
}
#redes{
    width:10% ;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo img{
    width: 51%;

}
#redes img{
   width: 29px;
    display: block; 
    vertical-align: middle;
}



